* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
    background-color: rgb(70, 168, 200);
    color: white;
    padding: 20px;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.logo-pieces {
    display: grid;
    grid-template: 20px 20px / 20px 20px;
}

.logo-1,
.logo-2,
.logo-3,
.logo-4 {
    background-color: white;
    color: black;
    width: 15px;
}

.logo-1 {
    height: 20px;
}

.logo-3 {
    height: 15px;
    margin-top: 5px;
}

.logo-2 {
    height: 15px;
}

.logo-4 {
    height: 20px;
}